h1 {
    font-size: 100px;
    color: black;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

h3, h5 {
    font-size: 35px;
    color: black;
    text-align: center;
}


img {
    width: 200px;
    height: 300px;
}

.chars, .enemy1 {
    width: 200px;
    height: 300px;
    position: relative;
}


#chosenEn{
    width: 200px;
    height: 300px;
    position: relative;
}
